html {
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  padding: 50px 40px;
  gap: 48px 46px;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@import 'nav';
@import 'card';
@import 'stars';
